.contact-img > img{
    width: 35px;
}

// .contact-img{
//     img{
//         width: 35px;
//     }
// }

.contact-data  {
    p{
        letter-spacing: .6px;
    }
    
    h6{
        letter-spacing: 2px;
    }
   
}