.port-overview-tab{
    justify-content: center;
    position: relative;

    .nav-item{
        margin: 0 10px;
        cursor: pointer;

        a{
            color: rgb(0, 0, 0);

            &.active{
                color: palevioletred;
                border-bottom: 1px solid rgb(236, 161, 214);

                h4{
                    font-weight: 400;
                }
            }
            h4{
                font-weight: 300;
                font-size: 24px;
            }
        }
    }
}

.port-grid-content{
    margin: 10px 0;
    position: relative;
    box-shadow: 0 4px 20px rgba($color: rgb(0, 0, 0) , $alpha: 0.06);
    border-radius: 10px; 
    overflow: hidden;

    .port-image{
        position: relative;
        display: block;
        overflow: hidden;
        

        img{
            width: 100%;
            height: 270px;
            object-fit: cover;
        }

    }

    .port-hover{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: white , $alpha: 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.4s all ease-in-out 0s;
        transform: translateY(50%);
        opacity: 0;
        
        .port-title{
            h3{
                font-size: 24px;
                color: rgb(0, 0, 0);

            }
        }
        .port-url{
            i{
                color: rgb(27, 131, 126);
            }
            a{
                display: block;
                color: rgb(95, 95, 95);
                text-decoration: none;
            }
        }

        
    }

    &:hover{
        .port-hover{
            transform: translateY(0);
            opacity: 1;
        }
    }
}