@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.logo {
    float: left;
    line-height: 70px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 45px;
    font-family: Sacramento;

    color: black;
    text-decoration: none;
}

.navigation {
    position: relative;

    &-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;

        & > li{
            float: left;
            display: block;
            position: relative;
            margin: 0 22px; // บยล่าง ซ้ายขวา 0 4 5 6 padding ก้ใช้เหมือนกัน

            & > a {
                color: black;
                display: block;
                text-decoration: none;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: 200;
                line-height: 70px;
            }
        }
    }
}